@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "../sass/block/links";
:root {
  --color-primary: #3a00ff;
  --color-background-nav: #000000;
  --color-secondary: #d42257;
  --color-background: #eff1f3a2;
  --color-text: #1b1d1b;
  --color-light: #fff;
  --color-anchor: #d76609;
  --font-family: "Playfair Display", sans-serif;
  --font-family-bar-menu:  "Lora", courier;
  --font-weight-strong: 500;
  --font-size-h1: 15em;
  --font-size-h2: 2.5rem;
  --font-size-h3: 1.85rem;
  --font-size-h4: 0.70rem;
  --font-size-text: 1.70rem;
  --border-radius: 8px;
  --piano-menu: 250px;
}
.container{
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
} 

html{
    background-image: url("/images/Guitar_Image_Effect_prompt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    margin:0; //Delete web default margin
}

//STAR SVG STYLING//

svg{
    path {
        fill: #d42257;
        stroke: #000; 
    }
    width: 20px;
    height: 20px;
}


@mixin hidden-side-bar {
    left: 0px;
    color: var(--color-secondary);
}

h2,h3, h4{
  /* 1. Define the gradient as a background image */
  background: linear-gradient(to top, var(--color-secondary) 10%, var(--color-text));
  
  /* 2. Clip the background to the text shape */
  -webkit-background-clip: text;
  background-clip: text;
  
  /* 3. Make the actual text transparent so the background shows through */
  -webkit-text-fill-color: transparent;
  color: transparent;
  
  /* Optional: Prevents the gradient from spanning the full container width */
  display: inline-block; 
}
h1{font-size: var(--font-size-h1);}
h2{font-size: var(--font-size-h2);}
h3{font-size: var(--font-size-h3);}
h4{font-size: var(--font-size-h4);}

ul{
    list-style: none;
}
.container ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    li{
        position: relative;
        padding-left: 28px;
        margin-left: 10px;
    }

    li:not(.page-footer li)::before {
        max-width: 100%;
        box-sizing: border-box;
        content: "";
        position: absolute;
        top: 0.4rem;
        left: 0;
        width: 20px;
        height: 30px;
        background-image: url("/images/icono-viñeta.png");
        background-size: 18px 15px;
        background-repeat: no-repeat;
    }
} 

header {
    position: relative;
    display: flex;
    h2{
        margin-left: 0;
    }
    div.container{
        justify-content: center;
        margin: auto;
        h1{
            background: linear-gradient(to bottom, var(--color-secondary), var(--color-secondary), var(--color-background-nav), var(--color-background-nav)); 
            -webkit-text-fill-color: transparent; 
            width: 100%;
            -webkit-background-clip: text; 
        }
    }
}

/*Article design*/

article{
    width: 450px;
    margin: auto;
    border: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-family: var(--font-family);
    display: grid;
}

main{
    div.container{
        display: flex;
        article{
            height: 300px;
            display: inline;
            padding: 5%;
            overflow-y: scroll;
            margin-left: 15px;
            background-color:#ffffff66;
        }
    }
}



/**NAVBAR STYLING*/
nav {
    top: 0;
    position: fixed;
    display: flex;
    margin: auto;
    width: 100%;
    background-color: #EFF1F3;
    justify-content: center;
    ul{
        display: grid;
        width: 100%;
        margin: auto;
        padding: 0;
        list-style: none;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 0;

        li{
            display: grid;
            min-height: fit-content;
            background-color: #ffffffa5;
            min-width: max-content;
            text-align: center;
            a{
                text-decoration: none;
                font-family: var(--font-family-bar-menu);
                font-size: 2rem;
                color: #000;
                font-style: italic;
                //writing-mode: vertical-lr;
                //text-orientation: upright;
            }
            a:hover{
                font-weight: bold;
            }
        }
    }  
}

ul:nth-child(3){
    margin-left: -20px;
}

/**FOOTER STYLING*/

footer .container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #a2a7ab 30%, #000);
    color: #EFF1F3;
    margin-top: 1rem;
    padding: 0 1rem;
  
    a {
      text-decoration: none;
      color: #d42257;
    }
     
    p {
        font-size: 16px;
    }
  
    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: var(--font-size-text);
    }
}
#files .container{
    display: flex;
}
/*styling feature class*/
