@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
a {
  text-decoration: none;
  color: var(--color-secondary);
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 100;
}

.skip-link {
  display: flex;
  justify-content: center;
  /* Horizontal centering */
  align-items: center;
  /* Vertical centering (if height is set) */
  position: relative;
  text-align: center;
  top: 50px;
  left: 10px;
  width: 100px;
  height: 100px;
  border-left: solid;
  border-left-width: 5px;
  border-color: var(--color-secondary);
  background-color: var(--color-background);
  color: var(--color-secondary);
  font-size: 0.8rem;
  font-style: italic;
  font-family: var(--font-family);
}
.skip-link:hover, .skip-link:focus {
  font-size: 1rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem var(--color-secondary), 0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

[class^=link] {
  display: flex;
  justify-content: center;
  /* Horizontal centering */
  align-items: center;
  /* Vertical centering (if height is set) */
  text-align: center;
  background-color: var(--color-background);
  color: var(--color-secondary);
  border-left: solid;
  border-color: var(--color-secondary);
  border-left-width: 5px;
  font-size: rem;
  font-style: italic;
  font-family: var(--font-family);
  margin-top: 20px;
  margin-bottom: 20px;
}
[class^=link]:hover, [class^=link]:focus {
  transform: translate(-0.15em, -0.15em);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem var(--color-secondary), 0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}
[class^=link]:focus {
  outline-color: transparent;
  outline-style: solid;
}

.page-footer [class^=link] {
  width: 100%;
  padding-left: 10%;
  padding-left: 5%;
  min-height: 2.5em;
  display: flex;
  background-color: var(--color-background);
  color: var(--color-secondary);
}

#files .container a {
  display: flex;
}

@media (max-width: 400px) {
  .link-allstyles {
    margin-left: 6rem;
  }
}

.link-github svg {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  fill: currentColor;
}

aside.profile {
  display: flex;
  float: right;
  margin-right: 5%;
  margin-top: 5%;
  background-color: #ffffff66;
  padding: 1rem;
}
aside.profile ul {
  display: inline;
}
aside.profile ul li {
  padding-bottom: 10px;
}

aside.profile div.container > a {
  background-color: var(--color-background);
  color: var(--color-secondary);
  border-left: solid;
  border-color: var(--color-secondary);
  border-left-width: 5px;
  font-size: 1rem;
  font-style: italic;
  font-family: var(--font-family);
  align-self: center;
  min-width: 300px;
}
aside.profile div.container > a:hover, aside.profile div.container > a:focus {
  transform: translate(-0.15em, -0.15em);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem var(--color-secondary), 0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

#styles {
  display: flex;
  width: 30%;
  margin-right: 5%;
  margin-top: 5%;
  background-color: #ffffff66;
  padding: 1rem;
}
#styles ul {
  display: inline;
}

:root {
  --color-primary: #3a00ff;
  --color-background-nav: #000000;
  --color-secondary: #d42257;
  --color-background: #eff1f3a2;
  --color-text: #1b1d1b;
  --color-light: #fff;
  --color-anchor: #d76609;
  --font-family: "Playfair Display", sans-serif;
  --font-family-bar-menu: "Lora", courier;
  --font-weight-strong: 500;
  --font-size-h1: 15em;
  --font-size-h2: 2.5rem;
  --font-size-h3: 1.85rem;
  --font-size-h4: 1.50rem;
  --font-size-text: 1.70rem;
  --border-radius: 8px;
  --piano-menu: 250px;
}

.container {
  margin-top: 5%;
}
.container ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

html {
  background-image: url("./images/Guitar_Image_Effect_prompt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
}

svg {
  width: 20px;
  height: 20px;
}
svg path {
  fill: #d42257;
  stroke: #000;
}

h2, h3, h4 {
  /* 1. Define the gradient as a background image */
  background: linear-gradient(to top, var(--color-secondary) 10%, var(--color-text));
  /* 2. Clip the background to the text shape */
  -webkit-background-clip: text;
  background-clip: text;
  /* 3. Make the actual text transparent so the background shows through */
  -webkit-text-fill-color: transparent;
  color: transparent;
  /* Optional: Prevents the gradient from spanning the full container width */
  display: inline-block;
}

h1 {
  font-size: var(--font-size-h1);
}
@media (max-width: 780px) {
  h1 {
    font-size: 10rem;
  }
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

ul {
  list-style: none;
}

.container ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.container ul li {
  position: relative;
  padding-left: 28px;
  margin-left: 10px;
}
.container ul li:not(.page-footer li)::before {
  max-width: 100%;
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0.4rem;
  left: 0;
  width: 20px;
  height: 30px;
  background-image: url("/images/icono-viñeta.png");
  background-size: 18px 15px;
  background-repeat: no-repeat;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
}
header h2 {
  margin-left: 0;
}
header div.container h1 {
  background: linear-gradient(to bottom, var(--color-secondary), var(--color-secondary), var(--color-background-nav), var(--color-background-nav));
  -webkit-text-fill-color: transparent;
  width: 100%;
  -webkit-background-clip: text;
}

/*Article design*/
article {
  width: 450px;
  margin: auto;
  border: 1px solid gray;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-family: var(--font-family);
  display: grid;
}

main div.container {
  display: flex;
  margin: 0.5rem;
  gap: 1rem;
}
main div.container article {
  height: 300px;
  display: inline;
  padding: 5%;
  overflow-y: scroll;
  background-color: #ffffff66;
}
@media (max-width: 780px) {
  main div.container {
    flex-direction: column;
  }
}

/**NAVBAR STYLING*/
nav {
  top: 0;
  position: fixed;
  display: flex;
  margin: auto;
  width: 100%;
  background-color: #EFF1F3;
  justify-content: center;
}
nav ul {
  display: grid;
  width: 100%;
  margin: auto;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0;
}
nav ul li {
  display: grid;
  min-height: fit-content;
  background-color: #ffffffa5;
  min-width: max-content;
  text-align: center;
}
nav ul li a {
  text-decoration: none;
  font-family: var(--font-family-bar-menu);
  font-size: 2rem;
  color: #000;
  font-style: italic;
}
@media (max-width: 780px) {
  nav ul li a {
    padding: 0.5rem 0;
    font-size: 1rem;
  }
}
nav ul li a:hover {
  font-weight: bold;
}

ul:nth-child(3) {
  margin-left: -20px;
}

/**FOOTER STYLING*/
footer {
  background: linear-gradient(90deg, #a2a7ab 30%, #000);
}
footer .container {
  display: flex;
  flex-direction: column;
  color: #EFF1F3;
  margin-top: 1rem;
  padding: 0 1rem;
}
footer .container a {
  text-decoration: none;
  color: #d42257;
}
footer .container p {
  font-size: 16px;
}
footer .container ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: var(--font-size-text);
}

#files .container {
  display: flex;
}

/*styling feature class*/
