a{
  text-decoration: none;
  color: var(--color-secondary);
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 100;
}

.skip-link {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;     /* Vertical centering (if height is set) */
  position: relative;
  text-align: center;
  top: 50px;
  left: 10px;
  width: 100px;
  height: 100px;
  border-left: solid;
  border-left-width: 5px;
  border-color: var(--color-secondary);
  background-color: var(--color-background);
  color: var(--color-secondary);
  font-size: 0.8rem;
  font-style: italic;
  font-family: var(--font-family);

  &:hover,
  &:focus {
  font-size: 1rem;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem var(--color-secondary), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
}



[class^="link"]{
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;     /* Vertical centering (if height is set) */
  text-align: center;
  background-color: var(--color-background);
  color: var(--color-secondary);
  border-left: solid;
  border-color: var(--color-secondary);
  border-left-width: 5px;
  font-size: rem;
  font-style: italic;
  font-family: var(--font-family);
  margin-top: 20px;
  margin-bottom: 20px;

  &:hover,
  &:focus {
    transform: translate(-0.15em, -0.15em);
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem var(--color-secondary), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);

  }

  &:focus {
    outline-color: transparent;
    outline-style: solid;
  }
}

// stylelint-disable-next-line no-descending-specificity
.page-footer [class^="link"] {
  width: 100%;
  padding-left: 10%;
  padding-left: 5%;
  min-height: 2.5em;
  display: flex;
  background-color: var(--color-background);
  color: var(--color-secondary);
}

#files .container a{
    display: flex;
}

.link-allstyles {
  @media (max-width: 400px) {
    margin-left: 6rem;
  }
}

.link-github {
  svg {
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
    fill: currentColor;
  }
}